<main class="flex flex-col ">
    <div class="fixed w-full">
        <nav class="flex justify-center space-x-5 bg-gray-800 m-2 p-2 border-gray-950 border-2 rounded-md">
            <a [routerLink]="['/home']" [routerLinkActive]="['!bg-gray-400', '!hover:bg-gray-400', '!text-gray-300']"
                class="bg-gray-600 hover:bg-gray-300 p-2 rounded-md">
                Home
            </a>
            <a [routerLink]="['/raw-sets']"
                [routerLinkActive]="['!bg-gray-400', '!hover:bg-gray-400', '!text-gray-300']"
                class="bg-gray-600 hover:bg-gray-300 p-2 rounded-md">
                Raw Sets
            </a>
            <a [routerLink]="['/merged-sets']"
                [routerLinkActive]="['!bg-gray-400', '!hover:bg-gray-400', '!text-gray-300']"
                class="bg-gray-600 hover:bg-gray-300 p-2 rounded-md">
                Merged Sets
            </a>
        </nav>
    </div>
    <div class="mt-16">
        <router-outlet></router-outlet>
    </div>
</main>